{% extends "layout.html" %}
{% block content %}
	<div class="title">
		About
	</div>
	<br>
	<br>

	<div class="main">
		<div class="bundle">
			<div>
				<div class="subtitle">
					Petunjuk Penggunaan PETS
				</div>
				<br> 
				<div>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum consequuntur illo vel blanditiis aspernatur maiores, error suscipit consequatur facere deserunt quas similique fugiat, necessitatibus, eos maxime explicabo minima. Consectetur molestiae blanditiis nam aliquam, eos dolor mollitia in aperiam tenetur aspernatur.
				</div>
			</div>
		</div>
	</div>	  
{% endblock content %}