{% extends "layout1.html" %}
{% block content %}
	<div class="title">
        Location
	</div>
	<br>
	<br>
    <div class="main">
		<div class="bundle">
		    <div>
			    <div class="subtitle">
				Peta maps ASHIAPP
                </div>
                <div id="map" style="width:100%; height:300px;" ></div>
            </div>
		</div>
	</div>
	<script>
		function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 7,
			center: {lat: 51, lng: 0}
			});
		// Create an array of alphabetical characters used to label the markers.
		var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
		// Add some markers to the map.
		// Note: The code uses the JavaScript Array.prototype.map() method to
		// create an array of markers based on a given "locations" array.
		// The map() method here has nothing to do with the Google Maps API.
		var markers = locations.map(function(location, i) {
			return new google.maps.Marker({
				position: location,
				label: labels[i % labels.length]
				});
				});
		// Add a marker clusterer to manage the markers.
		var markerCluster = new MarkerClusterer(map, markers,
		{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
		}
		var locations = [
			{lat: 51.5074, lng: 0},
			{lat: 51.50, lng: 0.1278},
			{lat: 55.3781, lng: 3.4360}
			]
	</script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb4xkb3rM8h2I65qWYVOvYFQvBMKbFQ9Q&callback=initMap"></script>
{% endblock content %}