{% extends "layout.html" %}
{% block content %}
	<div class="title">
		Subscribers
	</div>
	<br>
	<br>
	<div class="main">
		<div class="bundle">
			<div>
				<div class="tab">
					<button class="tablinks" onclick="openCity(event, 'PC 1')" id="button1">PC 1</button>
					<button class="tablinks" onclick="openCity(event, 'PC 2')" id="button2">PC 2</button>
					<button class="tablinks" onclick="openCity(event, 'PC 3')" id="button3">PC 3</button>
				</div>
				<div id="PC 1" class="tabcontent">
					<div class="subscriber subsubtitle">
						<div>IMSI</div>
						<div>IMEI</div>
						<div>Local Number</div>
						<div>TMSI</div>
						{% for pelanggan in pelanggans1 %}
							<div class="normal">{{ pelanggan.IMSI }}</div>
							<div class="normal">{{ pelanggan.IMEI }}</div>
							<div class="normal">{{ pelanggan.MSISDN }}</div>
							<div class="normal">{{ pelanggan.tmsi }}</div>
						{% endfor %}
					</div>
					<br>
					<a href="{{ url_for('cleartmsi', pc=1, sesbut='button1')}}">
						<button type="button" class="subscriber-button">
						DELETE ALL SUBSCRIBERS
						</button>				
					</a>
				</div>
				<div id="PC 2" class="tabcontent">
					<div class="subscriber subsubtitle">
						<div>IMSI</div>
						<div>IMEI</div>
						<div>Local Number</div>
						<div>TMSI</div>
						{% for pelanggan in pelanggans2 %}
							<div class="normal">{{ pelanggan.IMSI }}</div>
							<div class="normal">{{ pelanggan.IMEI }}</div>
							<div class="normal">{{ pelanggan.MSISDN }}</div>
							<div class="normal">{{ pelanggan.tmsi }}</div>
						{% endfor %}
					</div>
					<br>
					<a href="{{ url_for('cleartmsi', pc=2, sesbut='button2')}}">
						<button type="button" class="subscriber-button">
						DELETE ALL SUBSCRIBERS
						</button>				
					</a>
				</div>
				<div id="PC 3" class="tabcontent">
					<div class="subscriber subsubtitle">
						<div>IMSI</div>
						<div>IMEI</div>
						<div>Local Number</div>
						<div>TMSI</div>
						{% for pelanggan in pelanggans3 %}
							<div class="normal">{{ pelanggan.IMSI }}</div>
							<div class="normal">{{ pelanggan.IMEI }}</div>
							<div class="normal">{{ pelanggan.MSISDN }}</div>
							<div class="normal">{{ pelanggan.tmsi }}</div>
						{% endfor %}
					</div>
					<br>
					<a href="{{ url_for('cleartmsi', pc=3, sesbut='button3')}}">
						<button type="button" class="subscriber-button">
						DELETE ALL SUBSCRIBERS
						</button>				
					</a>
				</div>
			</div>
			
			<script>
				function openCity(evt, cityName) {
					var i, tabcontent, tablinks;
					tabcontent = document.getElementsByClassName("tabcontent");
					for (i = 0; i < tabcontent.length; i++) {
						  tabcontent[i].style.display = "none";
					}
					tablinks = document.getElementsByClassName("tablinks");
					for (i = 0; i < tablinks.length; i++) {
						  tablinks[i].className = tablinks[i].className.replace(" active", "");
					}
					document.getElementById(cityName).style.display = "block";
					evt.currentTarget.className += " active";
				}
				// Get the element with id="defaultOpen" and click on it
				var sess='{{ sessionbutton }}'
				console.log(sess);
				document.getElementById(sess).click();
				/* When the user clicks on the button, 
				toggle between hiding and showing the dropdown content */
				function myFunction() {
				  document.getElementById("myDropdown").classList.toggle("show");
				}
		
				// Close the dropdown if the user clicks outside of it
				window.onclick = function(event) {
				  if (!event.target.matches('.dropbtn')) {
						var dropdowns = document.getElementsByClassName("dropdown-content");
						var i;
					for (i = 0; i < dropdowns.length; i++) {
						  var openDropdown = dropdowns[i];
						  if (openDropdown.classList.contains('show')) {
						openDropdown.classList.remove('show');
							  }
						}
					  }
				}	
		
		
			</script>
			








			 
		</div>
			<br><br>
		<div>
			
				
			</div>
		</div>
	</div>
{% endblock content %}
