{% extends "layout.html" %}
{% block content %}
<div class="title">
	Transfer File
</div>
	<br>
	<br>
	<div class="main">
		<div class="transfer">
			<div class="bundle">
				<div>
					<div class="subtitle">
						Data pada PETS
					</div>
					<div id="map" style="width:100%; height:300px;" ></div>
				</div>
			</div>
			<div class="bundle">
				<div>
					<div class="subtitle">
						Data pada server
					</div>
					<div id="map2" style="width:100%; height:300px;" ></div>
				</div>
			</div>
		</div>
		<br>
		<div>
			<a href="{{ url_for('transferfilePETS')}}">
				<button onclick="alert('Mohon Tunggu');showLoader();" type="button" class="subscriber-button">
					Transfer File
				</button>
			</a>
		</div>
	</div>

	<script>
		function openCity(evt, cityName) {
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
				for (i = 0; i < tabcontent.length; i++) {
					  tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablinks");
				for (i = 0; i < tablinks.length; i++) {
					  tablinks[i].className = tablinks[i].className.replace(" active", "");
				}
				document.getElementById(cityName).style.display = "block";
				evt.currentTarget.className += " active";
			}
			// Get the element with id="defaultOpen" and click on it
			document.getElementById("defaultOpen").click();
			/* When the user clicks on the button, 
			toggle between hiding and showing the dropdown content */
			/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
	</script>
	<script>
		function initMap() {
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 12,
			center: {'lat': -6.5344412, 'lng': 107.3664586},
			mapTypeId: 'terrain'
		});

		var map2 = new google.maps.Map(document.getElementById('map2'), {
			zoom: 12,
			center: {'lat': -6.5344412, 'lng': 107.3664586},
			mapTypeId: 'terrain'
		});

		if (navigator.geolocation) {
     		navigator.geolocation.getCurrentPosition(function (position) {
         		initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        		map.setCenter(initialLocation);
				map2.setCenter(initialLocation);
    		});
		}

		var markers1 = locations1.map(function(location, i) {
			return new google.maps.Marker({
				position: location,
				label: labels1[i % labels1.length]
				});
			});

		var markerCluster1 = new MarkerClusterer(map, markers1, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
				
		var markers2 = locations2.map(function(location, i) {
			return new google.maps.Marker({
				position: location,
				label: labels2[i % labels2.length]
				});
			});

		var markerCluster2 = new MarkerClusterer(map2, markers2, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
		}

		var labels1 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
		var labels2 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

		var locations1 = {% autoescape on %} {{tempatpets}} {% endautoescape %};
		var locations2 = {% autoescape on %} {{tempat}} {% endautoescape %};
		
	</script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb4xkb3rM8h2I65qWYVOvYFQvBMKbFQ9Q&callback=initMap"></script>
{% endblock content %}